<h2>Add Employee</h2>
<form action = "/employeeManagement/employeeAdded" method = "post">
<input type = "text" name = "name">
<input type = "text" name = "username">
<input type = "text" name = "password">
<button type = "submit">Add</button>
</form>