<h3><%=employee.name%></h3>
<label for = "employeeName">assign Review</label>
<input type = "text" name = "employeeName" placeholder="Enter Employee's Name to Assign Review">
<button onclick="location.href = '/api/employeeManagement/reviewAssigned';">Assign</button>