<html>
    <head>
        <title>
            Employee review Management System

        </title>
        
    </head>
    <body>
        <form>
          <button onclick="location.href = '/api/employeeManagement/adminLogin';">Login for Admin</button>
          <button onclick="location.href = '/api/employeeManagement/renderEmployeeLogin';">Login for Employee</button>
        </form>
      

    </body>
</html>