<form action = "/api/employeeManagement/feedbackShared/<%=targetId%>/<%=employeeId%>" method = "post">
    
    <textarea placeholder='Enter feedback...' maxlength='1000' minlength='100' name = "feedback">
        This is the default feedback...  
      </textarea>
    <button type = "submit">share Feedback</button>
</form>