<h2>Update Employee</h2>
<form action = "/api/employeeManagement/updateEmployee/<%=employee._id%>" method = "post">
<input type = "text" name = "name" value = "<%=employee.name%>">
<input type = "text" name = "username" value = "<%=employee.username%>">
<input type = "text" name = "password" value = "<%=employee.password%>">
<button type = "submit">Update</button>
</form>